body {
    display: flex;
    justify-content: center;  /* 这个让整个body居中 */
    align-items: center; 
    height: 100vh;
}

.login-container {
     background-color:white;
     padding: 20px; /* 这是什么 */
     border-radius: 8px;/*  这是什么 */
     box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
     text-align: center; /* 这个让文字居中了 */
     width: 500px;
}

h1 {
    margin-bottom: 20px; /*设置它们的底边间距(margin-bottom)为20像素*/
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block; /*将lable标签设置为块元素，块级别元素会独占一行，即使他们前后自动换行*/
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px);
    padding: 8px; /*元素内部与元素边距的空间。它的作用是增加元素内部的空白区域，使得元素内部不会紧贴*/
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* boder-radius用于设置元素的圆角半径 4px表示元素的圆角半径是4像素 */
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white; /* 这个让文字变成了白色的 */
    border: none; /* 这个去掉了外面黑色的边框，变得好看了一点点 */
    border-radius: 4px; /* 这个元素的圆角的半径变成4像素 */
    cursor: pointer; /* 这个将鼠标的光标更改为指针的样式，就是让操作者知道这个东西可以点*/
}

button:hover { /* :hover 伪类用于选择鼠标指针悬停在其上的元素， */
    background-color:  #45a049; /* :hover 表示当鼠标悬停在按钮上时，按钮的背景色会发生变化。这么做实现了鼠标悬停在上面颜色变深提示用户这个按钮是可以点的 */
}

p {
    margin: 10px 0; /*表示为上下边距为10像素，左右边距为0像素 */
}